version: '3.9'

services:
  user-db:
    image: postgres
    container_name: user-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: user_db
    ports:
      - "5436:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/18/main
    networks:
      - demo_net
    healthcheck: # ✅ Adăugat healthcheck
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  device-db:
    image: postgres
    container_name: device-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: device_db
    ports:
      - "5435:5432"
    volumes:
      - device_db_data:/var/lib/postgresql/18/main
    networks:
      - demo_net
    healthcheck: # ✅ Adăugat healthcheck
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  user-service:
    build:
      context: ../user_microservice/demo
      dockerfile: Dockerfile
    container_name: user-service
    restart: on-failure
    ports:
      - "8082:8080"
    environment:
      - DB_IP=user-db
      - DB_PORT=5432
      - DB_DBNAME=user_db
      - DB_USER=postgres
      - DB_PASSWORD=password
    networks:
      - demo_net
    depends_on:
      - user-db

  device-service:
    build:
      context: ../device_microservice/demo
      dockerfile: Dockerfile
    container_name: device-service
    restart: on-failure
    ports:
      - "8083:8081"
    environment:
      - DB_IP=device-db
      - DB_PORT=5432
      - DB_DBNAME=device_db
      - DB_USER=postgres
      - DB_PASSWORD=password
    networks:
      - demo_net
    depends_on:
      - device-db

  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: always
    ports:
      - "80:80" # The HTTP port
      # - "443:443" # The HTTPS port
      - "8080:8080" # Dashboard port
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro" # Traefik can listen to the Docker events
      - "./traefik.yml:/etc/traefik/traefik.yml:ro" # Static configuration file
      - "./dynamic:/etc/traefik/dynamic:ro" # Dynamic configuration files
      - "./logs:/var/log/traefik" # Log files
    develop: # Enable live reload of dynamic configuration files on Windows, if using Unix based system needs to be commented out
      watch:
        - path: ./dynamic                   # watch the whole folder
          action: rebuild
    networks:
      - demo_net

volumes:
  user_db_data:
  device_db_data:

networks:
  demo_net:
   external: true